.main-container {
  padding-top: 8rem;
  background: blue;

  .wrapper {
    background: #ffffff;
    width: 48rem;
    height: 9rem;
    margin: 0 auto;
    border-radius: 0.625rem 0.625rem 0 0;

    .header-add,
    .header-edit {
      border-radius: 0.625rem 0.625rem 0 0;
      display: flex;
      flex-direction: row;
      position: absolute;
    }

    .header-add {
      background: linear-gradient(
        90deg,
        #f5fff5 0%,
        rgba(220, 245, 221, 0) 62.99%
      );
    }

    .header-edit {
      background: linear-gradient(
        90deg,
        #fef7f5 0%,
        rgba(254, 247, 245, 0) 62.99%
      );
    }

    .step-number {
      width: 4rem;
      height: 4rem;
      background: #51b853;
      margin: 2.5rem;
      border: none;
      border-radius: 0.625rem;
      color: #ffffff;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2.125rem;
      text-align: center;
    }

    .header-text {
      margin-top: 2rem;
    }

    h1 {
      font-weight: 600;
      font-size: 2.25rem;
      line-height: 2.125rem;
      text-align: center;
    }

    .green-text {
      color: #51b853;
    }

    .red-text {
      margin-left: 2.5rem;
      color: #f25d27;
    }

    .remove-step-number {
      display: none;
    }
  }
}
