<div class="home-container">
  <div class="select-city-container">
    <select name="select-city" id="select-city">
      <option value="0" (change)="onSelected($any($event.target).value)">
        Display all
      </option>
      <option *ngFor="let city of cities$ | async" [value]="city.id">
        {{ city.name }}
      </option>
    </select>
  </div>
  <div class="selected-city" *ngIf="selectedCity$ | async as selectedCity">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Photo</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ selectedCity.name }}</td>
          <td>{{ selectedCity.photo }}</td>
          <td>{{ selectedCity.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <table class="card-container1" *ngIf="cities$ | async as cities">
    <thead>
      <tr>
        <th>Name</th>
        <th>Photo</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of cities">
        <td>{{ city.name }}</td>
        <td>{{ city.photo }}</td>
        <td>{{ city.description }}</td>
      </tr>
    </tbody>
  </table>
  <div class="card-container">
    <div class="nav main-container">
      <ul class="nav-options">
        <li>
          <div class="edit-delete-container">
            <div class="edit">
              <button class="edit">
                <img src="../../../assets/svgs/edit.svg" alt="Edit" />
              </button>
            </div>
            <div class="delete">
              <button class="delete">
                <img src="../../../assets/svgs/delete.svg" alt="Delete" />
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="city-photo">
      <img src="../../../assets/imgs/city-img.png" alt="City photo" />
    </div>
    <div class="city-description">
      <p class="city-name">City</p>
      <p class="city-locals">City description</p>
    </div>
  </div>
  <app-service-operation-error
    [errorMessage]="errorMessage"
  ></app-service-operation-error>
</div>
