<div class="main-container">
  <div class="wrapper">
    <div class="logo-container">
      <span class="logo" (click)="goToHome()">
        <img src="../../../assets/svgs/logo.svg" alt="Traveller logo" />
      </span>
    </div>
    <div class="menus-container">
      <div class="menu cities-container">
        <span class="cities">
          <img src="../../../assets/svgs/cities.svg" alt="Location icon" />
        </span>
      </div>
      <div class="menu categories-container">
        <span class="categories">
          <img
            src="../../../assets/svgs/categories.svg"
            alt="Categories icon"
          />
        </span>
      </div>
      <div class="menu comments-container">
        <span class="comments">
          <img
            src="../../../assets/svgs/comments.svg"
            alt="Ballon of comment icon"
          />
        </span>
      </div>
      <div class="menu logout-container">
        <span class="logout">
          <img src="../../../assets/svgs/logout.svg" alt="Logout icon" />
        </span>
      </div>
    </div>
  </div>
</div>
