.main-cointainer {
  background: #123952;
  opacity: 0.95;
  height: 136rem;
  z-index: 9999;
  position: fixed;
  margin-top: -160vh;
  width: 130vw;
  margin-left: -60rem;

  .propagation-effect,
  .check-icon,
  .message {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .check-icon {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background-color: #51b853;

    img {
      margin-top: 1.75rem;
    }
  }

  .message {
    margin-top: 10rem;
    width: 17rem;
    font-size: 3.375rem;
    line-height: 4rem;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
  }

  .close-layer {
    width: 4rem;
    height: 4rem;
    color: #ffffff;
  }
}
