.main-container {
  background-color: #ffffff;
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;

  .nav-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.375rem;
  }

  .cityProfile .cities,
  .return-button {
    margin: 0.5rem 0 0 0;
  }

  .page-title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-align: center;
    color: #a0acb3;
    margin-left: -30rem;
  }

  .step-number {
    width: 3.5rem;
    height: 1.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: right;
    color: #617480;
    padding-top: 1.7rem;

    .first-step {
      color: #115d8c;
      font-weight: bold;
    }
  }

  .cities {
    font-weight: 600;
    font-size: 2.25rem;
    color: #123952;
    text-align: center;
    margin-top: 0.3em;
    padding-left: 20rem;
  }

  .return,
  .edit,
  .delete {
    border: none;
    background: #ffffff;
  }

  .return:hover {
    cursor: pointer;
  }

  .profile {
    margin-top: 0.3em;
  }

  li {
    margin-left: -10rem;
  }

  .add-profile {
    width: 14rem;
    height: 3rem;
    border: none;
    border-radius: 0.625rem;
    background: #51b853;
    color: #ffffff;
    font-weight: 500;
    line-height: 26px;
    padding: 0;
  }

  .add-profile:hover,
  .edit:hover,
  .delete:hover {
    cursor: pointer;
  }

  .edit-delete-container {
    display: flex;
    flex-direction: row;
    margin: 0.7rem 0 0 4rem;
  }

  .edit,
  .delete {
    width: 3rem;
    height: 3rem;
  }
}
